
<form (ngSubmit)="onSubmit(f)" #f="ngForm">
  <div class="form-group">
    <label for="email">Email</label>
    <input type="email" id="email" name="email" ngModel class="form-control">
  </div>
  <div class="form-group">
    <label for="password">Password</label>
    <input type="password" id="password" name="password" ngModel class="form-control">
  </div>
  <br>
  <button type="submit" class="btn btn-primary">Sign Up</button>
  <br>
  <p>Already Registered?...<a [routerLink]="['/signin']">Sign In</a></p>
</form>
