<div class="container">

      <button class="btn btn-primary" (click)="showDataFromFirebase()">Show data</button>

      <button class="btn btn-primary" (click)="logOut()">Logout</button>
  <p>{{appData | async}}</p>
</div>
